Repository xerocodee/InfraBoard, pull requests merged in 2024-03, with the labels that each got.

#68 Defined create function outside the if block inside signupPage.tsx and resolved typos
  src/pages/loginPage.tsx
  src/pages/signupPage.tsx
  src/store/aws/compute.ts
Labels: bug, xerocodee, infraboard

#69 bugfix: Login and Signup is not working
  .env.example
  .github/ISSUE_TEMPLATE/bug-report.yaml
  .github/ISSUE_TEMPLATE/feature-request.yaml
  .github/ISSUE_TEMPLATE/figma-design.yaml
  .gitignore
  README.md
  STRUCTURE.md
  next-env.d.ts
  package.json
  public/images/Technologies.png
  public/logo/android-chrome-192x192.png
  public/logo/android-chrome-512x512.png
  public/logo/apple-touch-icon.png
  public/logo/favicon-16x16.png
  public/logo/favicon-32x32.png
  public/logo/favicon.ico
  public/logo/logo.png
  public/logo/logo1.png
  public/logo/site.webmanifest
  public/robots.txt
  public/sitemap.xml
  scripts/generate-robots.js
  scripts/generate-sitemap.js
  src/app/(auth)/layout.tsx
  src/app/(auth)/login/page.tsx
  src/app/(auth)/signup/page.tsx
  src/app/page.tsx
  src/appwrite/config.ts
  src/components/canvas/canvas.tsx
  src/components/header/avatarDropDown.tsx
  src/components/header/header.tsx
  src/components/sidebar/draggableTabsList.tsx
  src/components/ui/avatar.tsx
  src/components/ui/card.tsx
  src/components/ui/checkbox.tsx
  src/components/ui/dropdown-menu.tsx
  src/components/ui/form.tsx
  src/components/ui/label.tsx
  src/conf/config.ts
  src/context/authContext.ts
  src/context/useAuth.ts
  src/pages/home.tsx
  src/pages/loginPage.tsx
  src/pages/signupPage.tsx
  src/utils/protectedRoutes.tsx
Labels: bug, xerocodee, infraboard

#73 Resolve merge conflicts in stage and master branch
  .github/ISSUE_TEMPLATE/figma-design.yaml
  .github/workflows/build.yml
  src/pages/loginPage.tsx
  src/pages/signupPage.tsx
  src/store/aws/compute.ts
Labels: bug, xerocodee, infraboard

#76 Feature/added icon model
  .github/ISSUE_TEMPLATE/bug-report.yaml
  .github/ISSUE_TEMPLATE/figma-design.yaml
  .github/workflows/build.yml
  src/assets/gcp/compute/AppEngine.tsx
  src/assets/gcp/compute/CloudGPU.tsx
  src/assets/gcp/compute/CloudTPU.tsx
  src/assets/gcp/compute/ComputeEngine.tsx
  src/assets/gcp/compute/ContainerEngine.tsx
  src/assets/gcp/index.ts
  src/assets/gcp/network/CloudCDN.tsx
  src/assets/gcp/network/CloudDNS.tsx
  src/assets/gcp/network/CloudNetwork.tsx
  src/assets/gcp/tools/Debugger.tsx
  src/assets/gcp/tools/Logging.tsx
  src/assets/gcp/tools/Monitoring.tsx
  src/assets/gcp/tools/Trace.tsx
  src/pages/loginPage.tsx
  src/pages/signupPage.tsx
  src/store/aws/compute.ts
Labels: xerocodee, infraboard, feature

#77 Test
  .github/ISSUE_TEMPLATE/bug-report.yaml
  .github/workflows/build.yml
  src/assets/gcp/compute/AppEngine.tsx
  src/assets/gcp/compute/CloudGPU.tsx
  src/assets/gcp/compute/CloudTPU.tsx
  src/assets/gcp/compute/ComputeEngine.tsx
  src/assets/gcp/compute/ContainerEngine.tsx
  src/assets/gcp/index.ts
  src/assets/gcp/network/CloudCDN.tsx
  src/assets/gcp/network/CloudDNS.tsx
  src/assets/gcp/network/CloudNetwork.tsx
  src/assets/gcp/tools/Debugger.tsx
  src/assets/gcp/tools/Logging.tsx
  src/assets/gcp/tools/Monitoring.tsx
  src/assets/gcp/tools/Trace.tsx
Labels: xerocodee, infraboard, feature

#78 [fix]: Resolve hover card overlap issue (#72)
  package.json
  src/components/canvas/canvas.tsx
  src/components/drag/index.tsx
  src/components/sidebar/draggableTabsList.tsx
Labels: bug, xerocodee, infraboard

#79 Test
  package.json
  src/assets/gcp/compute/AppEngine.tsx
  src/assets/gcp/compute/CloudGPU.tsx
  src/assets/gcp/compute/CloudTPU.tsx
  src/assets/gcp/compute/ComputeEngine.tsx
  src/assets/gcp/compute/ContainerEngine.tsx
  src/assets/gcp/index.ts
  src/assets/gcp/network/CloudCDN.tsx
  src/assets/gcp/network/CloudDNS.tsx
  src/assets/gcp/network/CloudNetwork.tsx
  src/assets/gcp/tools/Debugger.tsx
  src/assets/gcp/tools/Logging.tsx
  src/assets/gcp/tools/Monitoring.tsx
  src/assets/gcp/tools/Trace.tsx
  src/components/canvas/canvas.tsx
  src/components/drag/index.tsx
  src/components/sidebar/draggableTabsList.tsx
Labels: bug, xerocodee, infraboard, feature
