Repository xerocodee/InfraBoard, pull requests merged in 2024-10, with the labels that each got.

#111 Create HACKTOBERFEST.md
  HACKTOBERFEST.md
Labels: xerocodee, infraboard, P0, hacktoberfest, hacktoberfest-accepted

#112 Update README.md
  README.md
Labels: documentation, xerocodee, infraboard, improve, P2, level3, hacktoberfest, hacktoberfest-accepted

#114 Remove GSSOC
  .github/FUNDING.yml
  .github/ISSUE_TEMPLATE/bug-report.yaml
  .github/ISSUE_TEMPLATE/feature-request.yaml
  .github/ISSUE_TEMPLATE/figma-design.yaml
  next-env.d.ts
Labels: bug, xerocodee, infraboard, hacktoberfest, hacktoberfest-accepted
