Repository xerocodee/InfraBoard, pull requests merged in 2024-02, with the labels that each got.

#44 Stage
  .github/ISSUE_TEMPLATE/bug-report.yaml
  .github/ISSUE_TEMPLATE/feature-request.yaml
  .github/labeler.yml
Labels: bug, xerocodee, infraboard

#45 Demo
  .github/workflows/pr-merge-score-updater.yml
Labels: bug, xerocodee, infraboard

#46 Bug Fix
  .github/workflows/pr-merge-score-updater.yml
Labels: bug

#49 Add Code Editor
  .github/ISSUE_TEMPLATE/bug-report.yaml
  .github/ISSUE_TEMPLATE/feature-request.yaml
  .github/SCORES.md
  .github/labeler.yml
  .github/workflows/assign_pr.yml
  .github/workflows/issue-score-handler.yml
  .github/workflows/pr-merge-score-updater.yml
  CONTRIBUTING.md
  TEMPLATE.md
  package.json
  src/app/globals.css
  src/app/layout.tsx
  src/app/page.tsx
  src/assets/aws/index.ts
  src/components/canvas/canvas.tsx
  src/components/code_editor/codeEditor.tsx
  src/components/drag/index.tsx
  src/components/header/header.tsx
  src/components/sidebar/draggableTabsList.tsx
  src/components/sidebar/searchResults.tsx
  src/components/sidebar/sidebar.tsx
  src/components/sidebar/subTabs.tsx
  src/store/aws/compute.ts
  src/types/types.ts
  tsconfig.json
Labels: infraboard, feature

#51 Improve App Performance by changing UI library. Add Drag & Drop Functionality
  components.json
  package.json
  src/app/globals.css
  src/app/layout.tsx
  src/app/page.tsx
  src/components/canvas/canvas.tsx
  src/components/code_editor/codeEditor.tsx
  src/components/drag/index.tsx
  src/components/header/header.tsx
  src/components/modals/ReadmeModal.tsx
  src/components/modals/ShortcutModal.tsx
  src/components/sidebar/draggableTabsList.tsx
  src/components/sidebar/searchResults.tsx
  src/components/sidebar/sidebar.tsx
  src/components/ui/accordion.tsx
  src/components/ui/button.tsx
  src/components/ui/dialog.tsx
  src/components/ui/input.tsx
  src/components/ui/select.tsx
  src/components/ui/tabs.tsx
  src/components/ui/textarea.tsx
  src/components/ui/toggle-group.tsx
  src/components/ui/toggle.tsx
  src/components/ui/tooltip.tsx
  src/lib/utils.ts
  src/styles/resizable.css
  tailwind.config.ts
Labels: infraboard, improve

#50 Feature
  .github/SCORES.md
  .github/dependabot.yml
  .github/workflows/assign.yml
  .github/workflows/assign_pr.yml
  .github/workflows/greetings.yml
  .github/workflows/issue-score-handler.yml
  .github/workflows/pr-merge-score-updater.yml
  .github/workflows/pr_merge.yml
  .github/workflows/stale.yml
  TEMPLATE.md
  components.json
  package.json
  src/app/globals.css
  src/app/layout.tsx
  src/app/page.tsx
  src/components/canvas/canvas.tsx
  src/components/code_editor/codeEditor.tsx
  src/components/drag/index.tsx
  src/components/header/header.tsx
  src/components/modals/ReadmeModal.tsx
  src/components/modals/ShortcutModal.tsx
  src/components/sidebar/draggableTabsList.tsx
  src/components/sidebar/searchResults.tsx
  src/components/sidebar/sidebar.tsx
  src/components/sidebar/sidebarDrag.tsx
  src/components/sidebar/subTabs.tsx
  src/components/ui/accordion.tsx
  src/components/ui/button.tsx
  src/components/ui/dialog.tsx
  src/components/ui/input.tsx
  src/components/ui/select.tsx
  src/components/ui/tabs.tsx
  src/components/ui/textarea.tsx
  src/components/ui/toggle-group.tsx
  src/components/ui/toggle.tsx
  src/components/ui/tooltip.tsx
  src/lib/utils.ts
  src/store/aws/compute.ts
  src/styles/resizable.css
  src/types/types.ts
  tailwind.config.ts
  tsconfig.json
Labels: xerocodee, infraboard, feature

#54 Add: Appwrite Login System
  .env
  STRUCTURE.md
  package.json
  public/images/Technologies.png
  public/logo/android-chrome-192x192.png
  public/logo/android-chrome-512x512.png
  public/logo/apple-touch-icon.png
  public/logo/favicon-16x16.png
  public/logo/favicon-32x32.png
  public/logo/favicon.ico
  public/logo/logo.png
  public/logo/logo1.png
  public/logo/site.webmanifest
  public/robots.txt
  public/sitemap.xml
  scripts/generate-robots.js
  scripts/generate-sitemap.js
  src/app/(auth)/layout.tsx
  src/app/(auth)/login/page.tsx
  src/app/(auth)/signup/page.tsx
  src/app/page.tsx
  src/appwrite/config.ts
  src/components/canvas/canvas.tsx
  src/components/header/avatarDropDown.tsx
  src/components/header/header.tsx
  src/components/sidebar/draggableTabsList.tsx
  src/components/ui/avatar.tsx
  src/components/ui/card.tsx
  src/components/ui/checkbox.tsx
  src/components/ui/dropdown-menu.tsx
  src/components/ui/form.tsx
  src/components/ui/label.tsx
  src/conf/config.ts
  src/context/authContext.ts
  src/context/useAuth.ts
  src/utils/protectedRoutes.tsx
Labels: infraboard, feature
